
/* historia */

section__carousel
carousel--custom
carousel__arrows
carousel__arrows--color
carousel__textBox
carousel__slide
carousel__caption

.body--general .section__carousel{ 
    margin: 10vh;
}

.body--general .section__carousel .carousel--custom{
    max-width: auto;
    max-height: auto;
    border: red solid 3px;
}

.body--general .section__carousel .carousel--custom .carousel__arrows>*{
    color: blue;
}

.body--general .section__carousel .carousel--custom .carousel__textBox .carousel__slide{
    display:flex;
    justify-content: center;
}

.body--general .section__carousel .carousel--custom .carousel__textBox .carousel__slide .carousel__img--size{
    max-width: 70vw;
    max-height: 35vw;
}

.body--general .section__carousel .carousel--custom .carousel__textBox .carousel__slide .carousel-caption{
    background: rgba(65, 62, 58, 0.5);
    border: red solid 3px;
}

.body--general .section__carousel .carousel--custom .carousel__textBox .carousel__slide .carousel-caption h5{
    color:#e6d07a;
}

.body--general .section__carousel .carousel--custom .carousel__textBox .carousel__slide .carousel-caption p{
    color:#e6d07a;
    padding:auto;
}