@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg1.jpg) fixed 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif; }

.body--general {
  background: #fbefce; }

.body .header {
  height: fit-content;
  width: 100%; }
  .body .header .header__navbar {
    width: 90%;
    background-color: #38382e;
    display: block;
    margin: 0 auto; }
    .body .header .header__navbar .header__a {
      font-weight: bold;
      color: #bd9d58;
      position: relative; }
      .body .header .header__navbar .header__a:hover {
        border-bottom: 2px solid #bd9d58; }
  .body .header .header__titleBox {
    width: 80ch;
    margin: 10vh auto 15vh 5vh; }
    .body .header .header__titleBox .header__title {
      font-size: 5rem;
      color: #e0d8b8;
      font-weight: lighter;
      font-family: 'Fredericka the Great', cursive; }
    .body .header .header__titleBox .header__subtitle {
      font-size: 1.2rem;
      color: #bd9d58; }

.body--general .header {
  height: fit-content;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/cheese-wallpaper-edited.jpg);
  background-size: cover;
  margin-bottom: 10vh;
  border-bottom: #BFA880 3px solid; }
  .body--general .header .header__navbar {
    width: 90%;
    background-color: #38382e;
    display: block;
    margin: 0 auto; }
    .body--general .header .header__navbar .header__a {
      font-weight: bold;
      color: #bd9d58;
      position: relative;
      border-bottom: transparent; }
      .body--general .header .header__navbar .header__a:hover {
        border-bottom: 2px solid #bd9d58; }
  .body--general .header .header__titleBox {
    width: 80ch;
    margin: 5vh auto 15vh 5vh; }
    .body--general .header .header__titleBox .header__titulo {
      font-size: 5rem;
      color: #e0d8b8;
      font-weight: lighter;
      font-family: 'Fredericka the Great', cursive; }
    .body--general .header .header__titleBox .header__subtitulo {
      font-size: 1.2rem;
      color: #bd9d58; }
  @media only screen and (max-width: 430px) {
    .body--general .header {
      background-image: none;
      background-color: #fbefce;
      width: 90%; }
      .body--general .header .header__titleBox {
        height: 90%;
        width: fit-content;
        margin: 5vh auto 10% 5vh; }
        .body--general .header .header__titleBox .header__titulo {
          color: #413E3A;
          font-size: 3rem;
          text-align: center; }
        .body--general .header .header__titleBox .header__subtitulo {
          font-size: 1.2rem;
          text-align: center; } }
  @media only screen and (min-width: 431px) and (max-width: 920px) {
    .body--general .header {
      width: 100%;
      margin-bottom: 5vh; }
      .body--general .header .header__titleBox {
        height: 90%;
        width: fit-content;
        margin-bottom: 10%;
        padding: 0; }
        .body--general .header .header__titleBox .header__titulo {
          font-size: 3.5rem;
          text-align: center;
          margin: 0;
          width: 100%; }
        .body--general .header .header__titleBox .header__subtitulo {
          font-size: 1.2rem;
          text-align: center;
          width: 100%; } }

.body--general .recetas {
  width: 80%;
  display: column;
  flex-wrap: wrap; }
