@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg1.jpg) fixed 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Raleway', sans-serif; }

.body--general {
  background: #fbefce; }

.body .header {
  height: fit-content;
  width: 100%; }
  .body .header .header__navbar {
    width: 90%;
    background-color: #38382e;
    display: block;
    margin: 0 auto; }
    .body .header .header__navbar .header__a {
      font-weight: bold;
      color: #bd9d58;
      position: relative; }
      .body .header .header__navbar .header__a:hover {
        border-bottom: 2px solid #bd9d58; }
  .body .header .header__titleBox {
    width: 80ch;
    margin: 10vh auto 15vh 5vh; }
    .body .header .header__titleBox .header__title {
      font-size: 5rem;
      color: #e0d8b8;
      font-weight: lighter;
      font-family: 'Fredericka the Great', cursive; }
    .body .header .header__titleBox .header__subtitle {
      font-size: 1.2rem;
      color: #bd9d58; }

.body--general .header {
  height: fit-content;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/cheese-wallpaper-edited.jpg);
  background-size: cover;
  margin-bottom: 10vh;
  border-bottom: #BFA880 3px solid; }
  .body--general .header .header__navbar {
    width: 90%;
    background-color: #38382e;
    display: block;
    margin: 0 auto; }
    .body--general .header .header__navbar .header__a {
      font-weight: bold;
      color: #bd9d58;
      position: relative;
      border-bottom: transparent; }
      .body--general .header .header__navbar .header__a:hover {
        border-bottom: 2px solid #bd9d58; }
  .body--general .header .header__titleBox {
    width: 80ch;
    margin: 5vh auto 15vh 5vh; }
    .body--general .header .header__titleBox .header__titulo {
      font-size: 5rem;
      color: #e0d8b8;
      font-weight: lighter;
      font-family: 'Fredericka the Great', cursive; }
    .body--general .header .header__titleBox .header__subtitulo {
      font-size: 1.2rem;
      color: #bd9d58; }
  @media only screen and (max-width: 430px) {
    .body--general .header {
      background-image: none;
      background-color: #fbefce;
      width: 90%; }
      .body--general .header .header__titleBox {
        height: 90%;
        width: fit-content;
        margin: 5vh auto 10% 5vh; }
        .body--general .header .header__titleBox .header__titulo {
          color: #413E3A;
          font-size: 3rem;
          text-align: center; }
        .body--general .header .header__titleBox .header__subtitulo {
          font-size: 1.2rem;
          text-align: center; } }
  @media only screen and (min-width: 431px) and (max-width: 920px) {
    .body--general .header {
      width: 100%;
      margin-bottom: 5vh; }
      .body--general .header .header__titleBox {
        height: 90%;
        width: fit-content;
        margin-bottom: 10%;
        padding: 0; }
        .body--general .header .header__titleBox .header__titulo {
          font-size: 3.5rem;
          text-align: center;
          margin: 0;
          width: 100%; }
        .body--general .header .header__titleBox .header__subtitulo {
          font-size: 1.2rem;
          text-align: center;
          width: 100%; } }

.body--general main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
  grid-template-rows: repeat(4, auto);
  grid-template-areas: ". cbrown cbrown cbrown cblue" ". cgreen cgreen cgreen cblue" ". corange corange corange corange"; }
  .body--general main .txt1 {
    grid-area: cbrown;
    position: relative; }
    .body--general main .txt1 dl .list__title {
      font-size: 2rem;
      color: #413E3A; }
    .body--general main .txt1 dl .list__item {
      font-size: 1.5rem;
      color: #413E3A; }
    .body--general main .txt1 .txt3 {
      grid-area: cgreen;
      font-style: italic;
      font-weight: normal;
      width: 90%;
      color: #413E3A;
      text-align: center; }
    .body--general main .txt1::before {
      content: '';
      height: 100%;
      background-color: orange;
      width: 4px;
      display: inline;
      position: absolute;
      margin-left: 0;
      left: -5%; }
  .body--general main .txt2 {
    grid-area: cblue;
    transform: rotate(45deg) translateX(-5vw);
    float: right; }
  .body--general main .txt4 {
    grid-area: corange;
    position: relative;
    max-width: 90%; }
    .body--general main .txt4 dl .list__title {
      font-size: 2rem;
      color: #413E3A; }
    .body--general main .txt4 dl .list__item {
      font-size: 1.5rem;
      color: #413E3A;
      display: list-item;
      list-style-type: upper-roman;
      list-style-position: inside;
      text-align: left; }
    .body--general main .txt4::before {
      content: '';
      height: 100%;
      background-color: orange;
      width: 4px;
      display: inline;
      position: absolute;
      left: -3%; }

@media only screen and (max-width: 430px) {
  .body--general main {
    grid-template-areas: ". cbrown cbrown cbrown cbrown" ". cgreen cgreen cgreen ." ". corange corange corange corange" ". corange corange corange blue";
    grid-row-gap: 15px; }
    .body--general main .txt1 {
      width: 75vw; }
      .body--general main .txt1 dl {
        width: 90%; }
        .body--general main .txt1 dl .list__title {
          font-size: 1.5rem; }
        .body--general main .txt1 dl .list__item {
          font-size: 1.2rem; }
      .body--general main .txt1 .txt3 {
        font-size: 1.2rem;
        width: 90%; }
    .body--general main .txt2 figure .list__img {
      display: none; }
    .body--general main .txt4 {
      width: 90%; }
      .body--general main .txt4 dl .list__title {
        font-size: 1.5rem; }
      .body--general main .txt4 dl .list__item {
        font-size: 1.2rem; }
      .body--general main .txt4::before {
        left: -3%; } }

@media only screen and (min-width: 431px) and (max-width: 920px) {
  .body--general main {
    grid-template-areas: ". cbrown cbrown cbrown cbrown" ". cgreen cgreen cgreen ." ". corange corange corange corange" ". corange corange corange blue";
    grid-row-gap: 15px;
    width: 90%; }
    .body--general main .txt1 {
      width: 75vw; }
      .body--general main .txt1 dl {
        width: 90%; }
        .body--general main .txt1 dl .list__title {
          font-size: 1.5rem; }
        .body--general main .txt1 dl .list__item {
          font-size: 1.2rem; }
      .body--general main .txt1 .txt3 {
        font-size: 1.2rem;
        width: 100%; }
    .body--general main .txt2 figure .list__img {
      display: none; }
    .body--general main .txt4 {
      width: 100%; }
      .body--general main .txt4 dl .list__title {
        font-size: 1.5rem; }
      .body--general main .txt4 dl .list__item {
        font-size: 1.2rem; }
      .body--general main .txt4::before {
        left: -5%; } }
