

//cultura


.body--general{
    .text{        
        font-size: 1.2em;
        margin: 2em;
        padding: 2em;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;

        dl{
            dt{
                font-size: 1.5em;
                font-weight: bolder;
                padding: 30px 10px 10px;
                color: #413E3A;
                }
        
            dd{
                text-indent: 15px;
                padding: 0 1.5em;
                margin-bottom: 2em;
            }
        }
    }
}