


//Elaboración


.elaboracion{
    .elab{
        max-width:70%;
        margin: 0 auto 2rem;
        .list{
            border-left:$border-left;
            padding-left: 2rem;
            margin-bottom: 4em;
            
            dl{
                .list__title{
                    font-size: 1.5rem;
                    color:$fontDarkBrown;
                }    
            
                .list__item{
                    font-size: 1.2rem;
                    color: $fontDarkBrown;
                }
            }            

            .elab__text{
                font-size: 1rem;
                font-style: italic;
                font-weight: normal;
                max-width: 60ch;
                color: $fontDarkBrown;
                text-align: center;
            }
        }

        .elab__img{
            figure{
                .list__img{
                    transform: rotate(45deg) translate(-15vw, 15vw);
                    float:right;
                    width: 15vw;
                }       
            }     
        }
        
        .elab__secondList{

            dl{
                border-left:$border-left;
                padding-left: 2rem;
                .list__title{
                    font-size: 1.5rem;
                    color:$fontDarkBrown;
                }    
            
                .list__item{
                    font-size: 1.2rem;
                    color: $fontDarkBrown;
                    display:list-item;
                    list-style-type: upper-roman;
                    list-style-position: inside;
                    text-align: left;
                }
            }
        }
    }
}