


//hechura


.body--general{
    .elab{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        ". cbrown cbrown cbrown cblue"
        ". cgreen cgreen cgreen cblue"
        ". corange corange corange corange";

        .txt1{
            grid-area: cbrown;
            position:relative;
            dl{
                .list__title{
                    font-size: 2rem;
                    color:$fontDarkBrown;
                }    
            
                .list__item{
                    font-size: 1.5rem;
                    color: $fontDarkBrown;
                }
            }            

            .txt3{
                grid-area: cgreen;
                font-style: italic;
                font-weight: normal;
                width: 90%;
                color: $fontDarkBrown;
                text-align: center;
            }

            &::before{
                content: '';
                height: 100%;
                background-color: orange;
                width:4px;
                display:inline;
                position:absolute;
                margin-left: 0;
                left: -5%;
            }
        }

        .elab__img{
            figure{
                .list__img{
                    grid-area: cblue;
                    transform: rotate(45deg) translateX(-5vw);
                    float:right;
                }       
            }     
        }
        
        .txt4{
            grid-area: corange;
            position:relative;
            max-width: 90%;

            dl{
                .list__title{
                    font-size: 2rem;
                    color:$fontDarkBrown;
                }    
            
                .list__item{
                    font-size: 1.5rem;
                    color: $fontDarkBrown;
                    display:list-item;
                    list-style-type: upper-roman;
                    list-style-position: inside;
                    text-align: left;
                }
            }

            &::before{
                content: '';
                height: 100%;
                background-color: orange;
                width:4px;
                display:inline;
                position:absolute;
                left: -3%;
            }
        }
    }
}