


//hechura


.body--general{
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
        ". cbrown cbrown cbrown cblue"
        ". cgreen cgreen . cblue"
        ". corange corange corange .";

        .txt1{grid-area: cbrown;}

        .txt2{
            grid-area: cblue;
            transform: rotate(45deg) translateX(-10vw);
            float:right;
            border:$border2;
        }
        .txt3{grid-area: cgreen;}
        
        .txt4{grid-area: corange;}

        .list{
            dl{
                .list__title{
                    font-size: 2rem;
                    color:$fontDarkBrown;
                }    
            
                .list-item{
                    font-size: 1.2rem;
                    color: $fontDarkBrown;
                    border:$border;
                }
            }
        }
    }
}