

//historia

.body--general{
    section{        
        margin-bottom: $marginBottom;

        .carousel{
            @include size(auto, auto);
            border:$border;
            width: $carousel-width;
            height: $carousel-height;
            
            .carousel-inner{
                .carousel-item{

                    .carousel__img--size{
                        @include size(70vw, 80vh);
                    }

                    .carousel-caption{
                        background:$DarkBrown05;
                        border:$border;

                        h5{color:$subtitleColor;}

                        p{
                            color:$subtitleColor;
                            padding: auto;
                        }
                    }
                    
                }
            }
        }
    }
}