

//meridajes

.body--general{
    section{
        @include flex($flex, $center);
        .lista{
            font-size: 1.2rem;
            padding: 3%;
            color: $fontDarkBrown;
            max-width: 90ch;
            margin-bottom: $marginBottom;
            text-align: left;
            list-style-position: inside;
            border: 7px $fontDarkBrown double;
            background-color: whitesmoke;
            
            li{
                margin: 3%;
            }
        }
    }
}