

//MOBILE STYLE
//index

@media only screen and (max-width: 430px){
    .body{
        .header{
            margin: 10px auto; 

            .header__titleBox{
                max-width: 90%;
                margin: 10px auto;
                text-align: center;
            
                .header__title{
                    font-size: 3rem;
                    color:$fontDarkBrown;
                }

                .header__subtitle{
                    font-size: 1.2rem;
                    font-weight: bold;
                }
            }
        }
        
        .main{
            flex-direction: column;
            width:90vw;
            margin: 10px auto;
            align-items: center;
            .imagen{
                display: flex;
                flex-flow: row nowrap;
                width:100%;
                height: fit-content;
                align-items: space-around;
                padding-bottom: 0;
                margin:0;

                .imagen__img{
                    width: 15vw;
                    fill:$fontDarkBrown;
                    height: 10vh;           
                }

                .imagen__a{
                    font-size: 1.2rem;                    
                    color:$fontDarkBrown;
                    width:70vw;
                }
            }
            
        }

        section{
            margin-top: 5vh;
            form{
                fieldset{                    
                    text-align: center;
                    margin: 0;
                    padding:0;
                    width:100%;
                    border: $fontDarkBrown double 3px;
                    padding:5px;
                    border-radius: 0%;

                    .form__title{
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: $fontDarkBrown;
                    }

                    .form__complete{
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        font-size: 0.7rem;
                        margin: 7px;
                        max-height: fit-content;
                        width:100%;

                        .form__complete--display{
                            width:90%;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-content: center;

                            .form__label{
                                width: 100%;
                                color: $fontDarkBrown;
                            }
    
                            .form__input{
                                width: 75%;
                                border: none;
                                background-color: antiquewhite;
                                color: $fontDarkBrown;
                            }
                        }
                        
                        .form__checkbox--placement{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                        }

                        .form__button{
                            display:flex;
                            justify-items: space-between;
                        }
                        
                    }
                }
            }
        }
    }
}

//TABLET STYLE

@media only screen and (min-width: 431px) and (max-width: 920px) {
    .body{
        .main{
            flex-direction: column;
            width:90vw;
            margin: 10px auto;
            align-items: center;
            .imagen{
                display: flex;
                flex-flow: row nowrap;
                width:100%;
                height: fit-content;
                justify-content: center;
                padding-bottom: 0;
                margin:0.5em;

                .imagen__img{
                    width: 15vw;
                    height: 10vh;
                    fill: $bgColor;               
                }

                .imagen__a{
                    font-size: 1.2rem;                    
                    color:$bgColor;
                    max-width: 50vw;
                }
            }
            
        }

        section{
            form{
                width:100%;
                display: flex;
                justify-items: center;
                margin: 1.5em auto;

                fieldset{                    
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    width:70vw;

                    .form__title{
                        font-size: 1.2rem;
                        font-weight: bold;
                    }

                    .form__complete{
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        font-size: rem;
                        margin: 7px;
                        max-height: fit-content;
                        width:100%;

                        .form__complete--display{
                            width:90%;
                            display: flex;
                            flex-flow: column nowrap;
                            justify-items: center;

                            .form__label{
                                width: 100%;
                            }
    
                            .form__input{
                                width: 85%;
                                border: none;
                                background-color: antiquewhite;
                            }
                        }

                        .form__checkbox--placement{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                        }

                        .form__button{
                            display:flex;
                            justify-items: space-between;
                        }
                        
                    }
                }
            }
        }
    }
}