*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.cheese__map{
    background-image: url(../../clasesass/images/Cheese-assortment-Blue-cheese-swiss-Brie-parmesan.jpg);
    width:72vw;
    background-size: cover;
    position:relative;
    background-repeat: no-repeat;
    margin: auto;  

    display:grid;
    grid-template-columns: repeat(6,12vw);
    grid-template-rows: repeat(6, 10vw);
    grid-template-areas:
    ". . . . . ."
    ". brie brie . . ."
    ". gruyere gruyere gouda gouda ."
    ". . . azul azul ."
    ". parmesano parmesano . . ."
    ". . . . . .";
    align-items:flex-end;
}

.position{
    background-color: rgba(200, 200, 200, 0.5);
    border-radius: 5%;
    transition: 0.25s;
    text-align:center;
    opacity:0;
}

.position:hover{
    opacity:1;
}

.cheese__brie{grid-area:brie;}
.cheese__gouda{grid-area:gouda;}
.cheese__gruyere{grid-area:gruyere;}
.cheese__parmesano{grid-area:parmesano;}
.cheese__azul{grid-area:azul;}
