

//all footers

.body{
    .footer{
        background-color: $bgNavBar;
        margin:  10vw auto 0 auto;
        display: flex;
        max-height: fit-content;
        color:$titleColor;

        .footer--flex{         
            flex-basis:100%;
            padding:1.5em;
        }

        .footer__a{
            text-decoration: none;
            color: $subtitleColor;
            font-weight: bold;
        }
    }
}

// all footers

.body--general{
    .footer{
        background-color: $bgNavBar;
        margin: 0 auto;
        display: flex;
        max-height: fit-content;
        color:$titleColor;

        .footer--flex{         
            flex-basis:100%;
            padding:1.5em;
        }

        .footer__a{
            text-decoration: none;
            color: $subtitleColor;
            font-weight: bold;
        }
    }
}