

//header index

.body{
    .header{
        @include size(100%, fit-content);
    
        .header__navbar{
            width: 100%;
            background-color: $bgNavBar;
            display: block;
            padding: 2rem auto;
            
            .header__a{
                font-weight: bold;
                color:#bd9d58; 
                position: relative;
                
                &:hover{
                    border-bottom: 2px solid #bd9d58;}
            }
            
        }
    
        .header__titleBox{
            width: 40%;
            margin: 3em auto 3em 5em;
    
            .header__title{
                font-size: 4rem;
                color: hsl(48, 40%, 80%);
                font-weight: lighter;
                font-family: 'Fredericka the Great', cursive;
            }
    
            .header__subtitle {
                font-size: 1.2rem;
                color: #bd9d58;
                max-width: 60ch;
            }
        }
    }
}



//MOBILE STYLE

@media only screen and (max-width: 430px){
    .body{
        .header{
            margin: 10px auto; 

            .header__titleBox{
                max-width: 90%;
                margin: 10px auto;
                text-align: center;
            
                .header__title{
                    font-size: 3rem;
                    color:$fontDarkBrown;
                }

                .header__subtitle{
                    font-size: 1.2rem;
                    font-weight: bold;
                    max-width:90%;
                }
            }
        }
    }
}

//TABLET STYLE

@media only screen and (min-width: 431px) and (max-width: 920px) {
    .body{
        .header{
            width:100%;
            margin: 10px auto; 

            .header__titleBox{
                max-width: 90%;
                margin: 10% auto;
                text-align: center;
            
                .header__title{
                    font-size: 4rem;
                    color:$bgColor;
                }

                .header__subtitle{
                    font-size: 1.5rem;
                    font-weight: bold;
                    max-width:90%;
                }
            }
        }
    }
}

// Other headers

.body--general{
    .header{
        @include size(100%, fit-content);
        
        background:linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/cheese-wallpaper-edited.jpg);
        background-size: cover;
        margin-bottom: $marginBottom;
        border-bottom: #BFA880 3px solid;
    
        .header__navbar{
            width: 100%;
            background-color: hsl(60, 10, 20);
            display: block;
            margin: 0 auto;
            
            .header__a{
                font-weight: bold;
                color:#bd9d58; 
                position: relative;
                border-bottom: transparent;
                
                &:hover{
                    border-bottom: 2px solid #bd9d58;}
            }
            
        }
    
        .header__titleBox{
            width: 90%;
            margin: 5vh auto 15vh;
    
            .header__titulo{
                font-size: 3.5em;
                color: #e0d8b8;
                font-weight: lighter;
                font-family: 'Fredericka the Great', cursive;
            }
    
            .header__subtitulo {
                font-size: 1.2rem;
                color: #bd9d58;
                max-width:70ch;
            }
        }
        //MOBILE STYLE
        @media only screen and (max-width:430px) {
            width: 100%;
            margin:0;

            .header__titleBox{
                @include size(fit-content, 90%);
                margin: 5vh auto 10%;

                .header__titulo{
                    color: $titleColor;
                    font-size: 2rem;
                    text-align: center;
                }

                .header__subtitulo{
                    font-size: 1rem;                    
                    text-align: center;
                    max-width: 90%;
                }
            }
        }
        //TABLET STYLE
        @media only screen and (min-width:431px) and (max-width:920px){
            width: 100%;
            margin-bottom:5vh;

            .header__titleBox{
                @include size(fit-content, 90%);
                margin-bottom: 10%;
                padding:0;
                
                .header__titulo{
                    font-size: 4rem;
                    text-align: center;
                    margin:0;
                    width: 100%;
                    color:$titleColor;
                }

                .header__subtitulo{
                    font-size: 1.5rem;
                    text-align: center;
                    max-width: 90%;
                }
            }
        }
    }
}