// Mixins

@mixin size($width, $height){
    height: $height;
    width: $width;
}

@mixin flex($flex, $center){
    display: $flex;
    justify-content: $center;
}

//Fonts

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

//variables

$marginBottom: 10vh;
$bgColor:#fbefce;
$subtitleColor:#e6d07a;
$titleColor:#BFA880;
$darkBrown:#41331C;
$fontDarkBrown:#413E3A;
$DarkBrown05:rgba(65, 62, 58, 0.5);

$flex:flex;
$center:center;

$border: red solid 2px;

    
