// Mixins

@mixin size($width, $height){
    max-height: $height;
    max-width: $width;
}

@mixin min-size($width, $height){
    min-height: $height;
    min-width: $width;
}

@mixin flex($flex, $center){
    display: $flex;
    justify-content: $center;
}

@mixin box($width, $height){
    margin: $margin;
    padding: $padding;
}

//Fonts

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

//variables

$marginBottom: 10vh;
$bgColor:#fbefce;
$subtitleColor:#e6d07a;
$titleColor:#BFA880;
$darkBrown:#41331C;
$fontDarkBrown:#413E3A;
$DarkBrown05:rgba(65, 62, 58, 0.5);
$bgNavBar:hsl(60, 10, 20);

$margin:0%;
$padding:0%;

$flex:flex;
$center:center;

$border-left: orange 3px solid;


// helpers: this borders are not for design purposes.
$border: red solid 2px;
$border2: green solid 2px;
$border3: blue 2px solid;

    
